### 1. Install and import librairies

In [1]:
!pip install BeautifulSoup4
!pip install geocoder
!pip install folium
!pip install geopy

Requirement already satisfied: BeautifulSoup4 in c:\users\latitude\anaconda3\lib\site-packages (4.6.3)
Requirement already satisfied: geocoder in c:\users\latitude\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: requests in c:\users\latitude\anaconda3\lib\site-packages (from geocoder) (2.21.0)
Requirement already satisfied: six in c:\users\latitude\anaconda3\lib\site-packages (from geocoder) (1.12.0)
Requirement already satisfied: ratelim in c:\users\latitude\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in c:\users\latitude\anaconda3\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: future in c:\users\latitude\anaconda3\lib\site-packages (from geocoder) (0.17.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\latitude\anaconda3\lib\site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\latitude\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\latitude\anaconda3\lib\site-packages (from requests->geocoder) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\latitude\anaconda3\lib\site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: decorator in c:\users\latitude\anaconda3\lib\site-packages (from ratelim->geocoder) (4.3.0)
Requirement already satisfied: folium in c:\users\latitude\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: numpy in c:\users\latitude\anaconda3\lib\site-packages (from folium) (1.15.4)
Requirement already satisfied: jinja2>=2.9 in c:\users\latitude\anaconda3\lib\site-packages (from folium) (2.10)
Requirement already satisfied: requests in c:\users\latitude\anaconda3\lib\site-packages (from folium) (2.21.0)
Requirement already satisfied: branca>=0.3.0 in c:\users\latitude\anaconda3\lib\site-packages (from folium) (0.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\latitude\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\latitude\anaconda3\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\latitude\anaconda3\lib\site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\latitude\anaconda3\lib\site-packages (from requests->folium) (2018.11.29)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\latitude\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: six in c:\users\latitude\anaconda3\lib\site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: geopy in c:\users\latitude\anaconda3\lib\site-packages (1.20.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\latitude\anaconda3\lib\site-packages (from geopy) (1.50)

In [2]:
import numpy as np
import pandas as pd 
import requests 
from bs4 import BeautifulSoup 
from geopy.geocoders import Nominatim
import folium
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans 

print('DONE')

DONE

### 2. get Data and create soup object

In [3]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(source.text, 'lxml')

#### get the data from the HTML page and store it into a list

In [4]:
data = []
columns = []
table = soup.find(class_='wikitable')
for index, tr in enumerate(table.find_all('tr')):
    section = []
    for td in tr.find_all(['th','td']):
        section.append(td.text.rstrip())
    
    if (index == 0):
        columns = section
    else:
        data.append(section)

#convert list into Pandas DataFrame
df = pd.DataFrame(data = data,columns = columns)
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Remove Boroughs that are 'Not assigned'

In [6]:
df = df[df['Borough'] != 'Not assigned']
df.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [7]:
df = df.groupby(["Postcode", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
df.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [8]:
df.shape

(103, 3)

### part 2

### Get the latitude and the longitude coordinates of each neighborhood

In [9]:
df_coor = pd.read_csv("./Geospatial_Coordinates.csv")
df_coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
df = pd.merge(df, df_coor, how='left', left_on = 'Postcode', right_on = 'Postal Code')
# remove the "Postal Code" column
df.drop("Postal Code", axis=1, inplace=True)
df.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476